<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Delete</title>
</head>
<body>
	<h1>Are you sure you want to delete the following course?</h1>
	<table>
		<tr>
			<td>Name:</td>
			<td>{{ course.name }}</td>
		</tr>
		<tr>
			<td>Description:</td>
			<td>{{ course.desc }}</td>
		</tr>
	</table>
	<form action="{% url 'index' %}" method="get">
		<button>No</button>
	</form>
	<form action="{% url 'destroy' id=course.id %}" method="post">
		{% csrf_token %}
		<button>Yes! I want to delete this</button>
	</form>
</body>
</html>